@import './font.css';
@import './colors.css';

@media only screen {
    .banner {
        background-color: var(--background);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .b-content {
        margin: 50px 20px 0px 20px;
    }

    .vote {
        border-radius: 6px;
        padding: 12px;
        background-color: var(--green);
        color: white;
        font-family: 'SF';
        text-align: center;
    }

    .code {
        outline: none;
        border: 2px solid var(--grey);
        border-radius: 6px;
        padding: 14px;
        width: 89.5%;
        margin-top: 6px;
        background-color: var(--grey-background);
        color: #f7f7f7;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .b-title {
        font-family: 'SF';
        font-size: 24px;
        color: var(--grey-lighter);
        margin-bottom: 5px;
    }

    .b-subtitle {
        font-family: 'SF-R';
        font-size: 14px;
        color: var(--grey-light);
        margin-bottom: 20px;
    }

    .bc-label {
        font-family: 'SF';
        color: var(--grey-lighter);
        font-size: 16px;
        text-align: start;
    }

    .r-vote {
        border-radius: 6px;
        padding: 12px;
        background-color: var(--grey);
        color: var(--grey-lighter);
        font-family: 'SF';
        text-align: center;
        margin-top: 14px;
    }

    .r-help {
        border-radius: 6px;
        padding: 12px;
        margin-top: 18px;
        font-family: 'SF-R';
        color: var(--green);
        font-size: 18px;
        text-align: center;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .banner {
        background-color: var(--background);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .b-content {
        margin: 50px 180px 0px 180px;
    }

    .vote {
        border-radius: 6px;
        padding: 12px;
        background-color: var(--green);
        color: white;
        font-family: 'SF';
        text-align: center;
    }

    .code {
        outline: none;
        border: 2px solid var(--grey);
        border-radius: 6px;
        padding: 14px;
        width: 89.5%;
        margin-top: 6px;
        background-color: var(--grey-background);
        color: #f7f7f7;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .b-title {
        font-family: 'SF';
        font-size: 24px;
        color: var(--grey-lighter);
        margin-bottom: 5px;
    }

    .b-subtitle {
        font-family: 'SF-R';
        font-size: 14px;
        color: var(--grey-light);
        margin-bottom: 20px;
    }

    .bc-label {
        font-family: 'SF';
        color: var(--grey-lighter);
        font-size: 16px;
        text-align: start;
    }

    .r-vote {
        border-radius: 6px;
        padding: 12px;
        background-color: var(--grey);
        color: var(--grey-lighter);
        font-family: 'SF';
        text-align: center;
        margin-top: 14px;
        cursor: pointer;
    }

    .r-help {
        border-radius: 6px;
        padding: 12px;
        margin-top: 18px;
        font-family: 'SF-R';
        color: var(--green);
        font-size: 18px;
        text-align: center;
    }
}

@media only screen and (min-width: 64.063em) {
    .banner {
        background-color: var(--background);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .b-content {
        margin: 150px 400px 0px 400px;
    }

    .vote {
        border-radius: 6px;
        padding: 12px;
        background-color: var(--green);
        color: white;
        font-family: 'SF';
        text-align: center;
    }

    .code {
        outline: none;
        border: 2px solid var(--grey);
        border-radius: 6px;
        padding: 14px;
        width: 89.5%;
        margin-top: 6px;
        background-color: var(--grey-background);
        color: #f7f7f7;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .b-title {
        font-family: 'SF';
        font-size: 30px;
        color: var(--grey-lighter);
        margin-bottom: 5px;
    }

    .b-subtitle {
        font-family: 'SF-R';
        font-size: 18px;
        color: var(--grey-light);
        margin-bottom: 18px;
    }

    .bc-label {
        font-family: 'SF';
        color: var(--grey-lighter);
        font-size: 20px;
        text-align: start;
    }

    .r-vote {
        border-radius: 6px;
        padding: 12px;
        background-color: var(--grey);
        color: var(--grey-lighter);
        font-family: 'SF';
        text-align: center;
        margin-top: 14px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }

    .r-vote:hover {
        background-color: rgb(248, 62, 62);
        color: white;
    }
}