:root {
    --background: #23242a;
    --grey: #303238;
    --grey-lighter: #afb0b6;
    --grey-light: #797b7f;
    --grey-background: #303238;
    --green: #01d265;
    --red: #e37777;
    --red-darker: rgb(248, 62, 62);
}